.page-title {
  text-align: center;
  margin-top: 2em;
}

.page-content {
  width: 100%;
  margin: 2em;

  [nz-col] {
    vertical-align: top;
  }

  .form-container,
  .form-data {
    padding: 0 1em;
  }
}

.form-container {
  .prism-class {
    height: 15em;
    overflow: auto;
  }

  .form-icon-class {
    color: #52c41a;
    font-size: 20px;
  }
}
