.page-title {
  text-align: center;
  margin-top: 2em;
}

.page-content {
  width: 100%;
  margin: 0 18em;
}

.form-container {
  width: 50%;

  .prism-class {
    height: 15em;
    overflow: auto;
  }
}
